*{
    font-family: Roboto Condensed;
}
.navbar{
    padding-top:10px;
    margin-right:225.6px;
    padding-bottom:10px;
    margin-left:225.6px;
    text-align: right;
    font-size: 18px;

}

.searchBlock{
    margin:15px 225.6px 20px 225.6px;
}

.searchBlockPosition{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.navbar{
    padding-top:10px;
    margin-right:225.6px;
    padding-bottom:10px;
    margin-left:225.6px;
    text-align: right;
    font-size: 18px;

}

.searchBlock{
    margin:15px 225.6px 20px 225.6px;
}

.searchBlockPosition{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.navbarMobile{
    display: none;
}

.navbarVisibility{
    display: none;

}
.change .navbarVisibility{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    margin: 14px 0 0 0;
    box-sizing: border-box;
}

.change li{
    padding: 14px 0;
}
.change a.link{
    padding: 0;
    font-size: 18px;
}

.container {
    display: inline-block;
    cursor: pointer;
    padding: 14px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
@media handheld, (max-width: 900px) {
    .navbar{display: none}
    .navbarMobile{display: block}
    .searchBlock{margin: 14px}
    .searchBlock img{padding-bottom: 20px}
    a img.transpilotImage{height: auto;width: 100%;margin: 0 4px}
    #probox #shop_search_query{width: 295px;}
    .searchBlockPosition{flex-direction: column;align-items: center;}
    div.contactString{margin: 0;flex-direction: column;}
    div.contactNotLinks{justify-content: flex-start;}
    a.contactLinks{justify-content: flex-start;}

}






li{
    list-style-type: none;
    display: inline-block;
}
a.link{
    color: #fff!important;
    padding: 14px;
    text-decoration:none;
    line-height: 1;
}

a.linkLast{
    color: #fff!important;
    padding: 14px 0 14px 14px;
    text-decoration:none;
    line-height: 1;
}
a.link:hover,.contactLinks:hover,a.linkLast:hover {
    color: #5bd300!important; /* Цвет ссылки */
    text-decoration: none;
}

#probox form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 45px;
}

.promagnifier {
    width: 45px;
    height:100%;
    box-sizing: border-box;
    background-image: -webkit-linear-gradient(180deg,rgba(27,31,67,1),rgba(27,31,67,1));
    background-image: -moz-linear-gradient(180deg,rgba(27,31,67,1),rgba(27,31,67,1));
    background-image: -o-linear-gradient(180deg,rgba(27,31,67,1),rgba(27,31,67,1));
    background-image: -ms-linear-gradient(180deg,rgba(27,31,67,1) 0%,rgba(27,31,67,1) 100%);
    background-image: linear-gradient(180deg,rgba(27,31,67,1),rgba(27,31,67,1));
    background-position: center center;
    background-repeat: no-repeat;
    order: 11;
    -webkit-order: 11;
    float: right;
    border: 0 solid #fff;
    border-radius: 0;
    box-shadow: 1px 0px 0px 0px #f1f1f1 inset;
    cursor: pointer;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}
div.innericon {
    width: 45px;
    height: 45px;
    float: right;
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    text-align: center;
    overflow: hidden;
}
svg {
    fill: #fff;
    height: 100%;
    width: 22px;
    vertical-align: baseline;
    display: inline-block;
}


#shop_search_query{
    border: 8px solid #1b1f43;
    width: 264px;
    height: 100%;
    box-sizing: border-box;
}
input{
    color: #224179;
    background-color: #dbdce2;
    font-size: 20px;
    font-weight:500;
}
.transpilotImage{
    height: 30px;
}

.contactLinks{
    color: #fff!important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 ;
    text-decoration:none;
    font-size: 20px;
    line-height: 1.4;
}
.contactString{
    margin: 0 225.6px 0 211.6px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-self: center;
}

.contactNotLinks{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-size: 20px;
    line-height: 1.4;
}
